<div class="container" (window:resize)="onResize($event)">
    <div class="row">
        <div class="col-md-12 mt-4">
            <div class="shadow p-3 mb-5 bg-white rounded">

                <button routerLink="/llamados" class=" btn btn-primary float-right"><img class="img-fluid "
                        src="./assets/svg/volver.svg" alt="volver"> Volver</button>
                <h2>Resumen del vendedor</h2>


                <div class="row" *ngIf="vendedor">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12 font-weight-bold mb-4">{{vendedor.rut | rut }} {{vendedor.nombre}}</div>

                            <div class="col-md-10">

                                <label class="float-left font-weight-bold">Llamadas Contestadas</label>
                                <label class="float-right"> <span
                                        class="font-weight-bold">{{vendedor.contactados}}/</span>{{vendedor.contactados+vendedor.contactadosFallidos}}
                                </label>

                            </div>
                            <div class="col-md-10 mb-3">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="50"
                                        [style.width.%]="porcentajeContestadas" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <label class="float-left font-weight-bold">Llamadas No Contestadas</label>
                                <label class="float-right"><span
                                        class="font-weight-bold">{{vendedor.contactadosFallidos}}/</span>
                                    {{vendedor.contactados+vendedor.contactadosFallidos}}
                                </label>
                            </div>
                            <div class="col-md-10">
                                <div class="progress ">
                                    <div class="progress-bar  bg-success" role="progressbar"
                                        [style.width.%]="porcentajeNoContestadas" aria-valuenow="25" aria-valuemin="0"
                                        aria-valuemax="100">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                            <total-venta [totalVentas]="totalVentas"></total-venta>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="shadow  mb-5 p-3 bg-white rounded customTab">
                    <div class=" navbar-expand-lg text-right mb-5">
                            <ul class="navbar-nav mr-auto float-right">
                                <li class="nav-item mr-3">
                                    <div ngbDropdown>
                                        <button class="btn" ngbDropdownToggle>Exportar
                                            Excel</button>
                                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                                
                                                <button ngbDropdownItem (click)="exportAsXLSX()">Tabla llamados</button>
                                                <button ngbDropdownItem (click)="exportarVentas()">Tabla Ventas</button>
        
                                        </div>
                                    </div>
                                </li>
                               <!--  <li class="nav-item" [class.mt-2]="innerWidth<420">
                                    <div ngbDropdown>
                                        <button class="btn " ngbDropdownToggle>Filtrar
                                            por : {{tipoFiltro}}</button>
                                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        
                                            <button ngbDropdownItem (click)="filtrarData('diario')">Diario</button>
                                            <button ngbDropdownItem (click)="filtrarData('semanal')">Semanal</button>
                                            <button ngbDropdownItem (click)="filtrarData('mensual')">Mensual</button>
        
                                        </div>
                                    </div>
                                </li> -->
                            </ul>
                        </div>
                <ngb-tabset justify="justified">
                    <ngb-tab title="Ventas">
                        <ng-template ngbTabContent>
                            <ventas-table [innerWidth]="innerWidth" [lstVentas]="lstVentas" [existe]="existe">
                            </ventas-table>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Llamadas contestadas">
                        <ng-template ngbTabContent>
                            <llamada-table [innerWidth]="innerWidth" [lstLlamada]="lstContestadas"></llamada-table>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle>LLamadas no contestadas</ng-template>
                        <ng-template ngbTabContent>
                            <llamada-table [innerWidth]="innerWidth" [lstLlamada]="lstNoContestadas"></llamada-table>
                        </ng-template>
                    </ngb-tab>

                </ngb-tabset>
            </div>
        </div>
    </div>
    <!--     <div class="row">
        <div class="col-md-12">
            <div class=" mt-4" *ngIf="innerWidth>1535">
                <div class="card " class="mb-4">

                    <div class="card-body shadow p-3 mb-5 bg-white rounded">
                        <h4 class="modal-title">Llamadas contestadas</h4>
                        <table class="table table-hover">
                            <thead class="table-primary">
                                <tr>
                                    <th scope="col">Rut</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Celular</th>
                                    <th scope="col">Segundos</th>
                                    <th scope="col">Comentario</th>
                                </tr>
                            </thead>
                            <td colspan="5" *ngIf="lstContestadas.length==0">No tiene registro de llamadas</td>
                            <tbody *ngFor="let llamada of lstContestadas; let i = index">

                                <tr class="table-light">

                                    <th scope="row">{{llamada.rut}}</th>
                                    <td>{{llamada.nombre}}</td>
                                    <td>{{llamada.idllamada | date:'dd/MM/yyyy hh:mm:ss'}}</td>
                                    <td>{{llamada.celular}}</td>
                                    <td>{{llamada.segundos}}</td>
                                    <td>{{llamada.comentario}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class=" mt-4 " *ngIf="innerWidth>1535">
                <div class="card " class="mb-4">
                    <div class="card-body shadow p-3 mb-5 bg-white rounded">
                        <h4 class="modal-title" id="modal-basic-title">Llamadas no contestadas</h4>
                        <table class="table table-hover">
                            <thead class="table-primary">
                                <tr>
                                    <th scope="col">Rut</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Celular</th>
                                    <th scope="col">Segundos</th>
                                    <th scope="col">Comentario</th>

                                </tr>
                            </thead>
                            <td colspan="5" *ngIf="lstNoContestadas.length==0">No tiene registro de llamadas</td>
                            <tbody *ngFor="let llamada of lstNoContestadas; let j = index">

                                <tr class="table-light">
                                    <th scope="row">{{llamada.rut}}</th>
                                    <td>{{llamada.nombre}}</td>
                                    <td>{{llamada.idllamada | date:'dd/MM/yyyy hh:mm:ss'}}</td>
                                    <td>{{llamada.celular}}</td>
                                    <td>{{llamada.segundos}}</td>
                                    <td>{{llamada.comentario}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row " *ngIf="innerWidth<420">
        <h4 class="modal-title">Llamadas contestadas</h4>
        <td *ngIf="lstNoContestadas.length==0">No tiene registro de llamadas</td>
        <div class="card border-secondary mb-4 " *ngFor="let llamada of lstContestadas" style="width:100% !important">
            <div class="card-header bg-primary text-white font-weight-bold">{{llamada.rut | rut}}</div>
            <div class="card-body shadow p-3  bg-white rounded">
                <h4 class="card-title">Nombre {{llamada.nombre}}</h4>
                <div class="row">
                    <div class="col-md-2">
                        <label class=" mb-0">Fecha</label><br>
                        <label class=" font-weight-bold">{{llamada.idllamada | date:'dd/MM/yyyy hh:mm:ss'}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class=" mb-0">Celular</label><br>
                        <label class=" font-weight-bold">{{llamada.celular}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class=" mb-0">Duración</label><br>
                        <label class=" font-weight-bold">{{llamada.segundos}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class=" mb-0">Comentario</label><br>
                        <label class=" font-weight-bold">{{llamada.comentario}}</label>
                    </div>
                </div>

            </div>
        </div>

        <h4 class="modal-title">Llamadas no contestadas</h4>
        <td *ngIf="lstNoContestadas.length==0">No tiene registro de llamadas</td>
        <div class="card border-secondary mb-4 " *ngFor="let llamada of lstNoContestadas" style="width:100% !important">
            <div class="card-header bg-primary text-white font-weight-bold">{{llamada.rut | rut}}</div>
            <div class="card-body shadow p-3  bg-white rounded">
                <h4 class="card-title">Nombre {{llamada.nombre}}</h4>
                <div class="row">
                    <div class="col-md-2">
                        <label class=" mb-0">Fecha</label><br>
                        <label class=" font-weight-bold">{{llamada.idllamada | date:'dd/MM/yyyy hh:mm:ss'}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class=" mb-0">Celular</label><br>
                        <label class=" font-weight-bold">{{llamada.celular}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class=" mb-0">Duración</label><br>
                        <label class=" font-weight-bold">{{llamada.segundos}}</label>
                    </div>
                    <div class="col-md-2">
                        <label class=" mb-0">Comentario</label><br>
                        <label class=" font-weight-bold">{{llamada.comentario}}</label>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div> -->