<div class="row">
    <div class="col-md-12 mt-4">
        <h1>Novedades En Implementos</h1>
        <a href="https://www.implementos.cl/especial-repuestos-2018-2/" target="_blank">
            <img src="https://www.implementos.cl/wp-content/uploads/2018/09/banner-catalogo-primavera.jpg" class="img-fluid" alt="Responsive image">
        
        </a>
    </div>
</div>