<div class="row">
    <div class="col-md-12 mt-4">

        <div class="card mb-3">

            <div class="card-body">
                <h1 class="mb-4">Vendedores <button class="btn btn-ligth float-right pt-0">
                        <svg-icon applyCss="true" src="./assets/svg/excel.svg"
                            [svgStyle]="{ 'width.px':35 , 'height.px':35 }"></svg-icon>
                    </button></h1>

                <table class="table table-hover">
                    <thead>
                        <tr class="table-primary">
                            <th scope="col"></th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Plan día</th>
                            <th scope="col">Venta día</th>
                            <th scope="col">Plan Acum.</th>
                            <th scope="col">Venta Acum.</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="!lstVendedores">
                        <tr>
                            <td colspan="7" class="col-xs-10" style="padding-left: 50%;">
                                <ngx-ring-loader></ngx-ring-loader>
                            </td>
    
                        </tr>
                    </tbody>
                    <tbody *ngFor="let vendedor of lstVendedores">

                        <tr class="table-light pointer" (click)="resumenVendedor(vendedor)">

                            <th class="scale-up-hor-left" scope="row" style="width: 11%;"> 
                                <img
                                    src="https://firebasestorage.googleapis.com/v0/b/imagenimplementos.appspot.com/o/PERSONAL%2f{{vendedor.rutEmpleado}}.jpg?alt=media"
                                    onError="this.src='./assets/svg/manager.svg'" style="height: 100px">
                                </th>
                            <td class="scale-up-hor-left" style="width: 30%;">
                                <div class="row">
                                    <div class="col-md-12"> {{vendedor.nombreCompleto}}</div>
                                    <div class="col-md-12">menta mensual : {{vendedor.metaMes | formatoModeda}} </div>
                                    <div class="col-md-12"> Porcentaje: {{vendedor.porcentajeMetaMesGrafico}} %</div>
                                </div>
                            </td>

                            <td class="scale-up-hor-left">{{vendedor.mentaHoy | formatoModeda}}</td>
                            <td class="scale-up-hor-left">{{vendedor.ventaDia | formatoModeda}}</td>
                            <td class="scale-up-hor-left">{{vendedor.metaAcumulada | formatoModeda}}</td>
                            <td class="scale-up-hor-left">{{vendedor.ventaAcumulada | formatoModeda}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>


        </div>


    </div>
</div>