<div class="page-wrapper" [ngClass]="{'toggled' : getSideBarState()}">
  <app-siderbar></app-siderbar>
  <main class="page-content">
    <app-nav-bar *ngIf="currentUser"></app-nav-bar>
      <div class="container-fluid">
        <div class="container">
          <router-outlet></router-outlet>
        </div>
        
      </div>
      <div class="overlay" (click)="toggleSidebar()" [ngClass]="{'show' : !getSideBarState()}"></div>
  </main>
</div>