<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="btn btn-primary" (click)="toggleSidebar()"> 
     <svg-icon applyCss="true" src="./assets/svg/list.svg" class="lst" [svgStyle]="{ 'width.px':35 , 'height.px':40 }"></svg-icon>
  </div>
  <a class="navbar-brand" href="#"> <img class="navbar-brand img-fluid " width="200px"
      src="./assets/img/logo_header.png" alt="implementos"></a>
</nav>
