<div class='container vh-100 d-flex align-items-center col justify-content-center'>
    <div class="">
        <div class="row ">
            <div class="col-md-6 offset-md-3 ">
                <div class="text-center">
                    <img src="./assets/img/logo2.png" class="img-fluid my-4 w-75 " alt="">
                </div>

                <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                <h4 class="text-center">Bienvenido a Implenet</h4>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="username">Usuario</label>
                        <input type="text" formControlName="username" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Usuario requerido</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" formControlName="password" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Contreaseña requerida</div>
                        </div>
                    </div>
                    <div class="form-group">

                        <button [disabled]="loading" class="btn btn-primary btn-block">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Entrar
                        </button>

                    </div>
                </form>
            </div>
        </div>

    </div>
</div>