<div class="row my-4" *ngIf="vendedor">
    <div class="col-md-12">
        <div class="card mb-3 h-100">

            <div class="card-body">
                <h4 class="mb-4">Resumen Vendedor
                    <button class="btn btn-primary float-right pt-0" [routerLink]="[ '/vendedores' ]">
                        <svg-icon applyCss="true" class="lst" src="./assets/svg/volver.svg"
                            [svgStyle]="{ 'width.px':15 , 'height.px':15 }"></svg-icon>Volver
                    </button>
                </h4>
                <div class="row mb-2">
                    <div class="col-md-1">
                        <img src="https://firebasestorage.googleapis.com/v0/b/imagenimplementos.appspot.com/o/PERSONAL%2f{{vendedor.rutEmpleado}}.jpg?alt=media"
                            onError="this.src='./assets/svg/manager.svg'" style="height: 100px">
                    </div>
                    <div class="col-md-4">
                        <h6>{{vendedor.nombreCompleto}}</h6>

                    </div>
                    <div class="col-md-7">
                        <ngb-tabset justify="justified">
                            <ngb-tab title="Ventas">
                                <ng-template ngbTabContent>
                                    <div class="row">
                                        <div class="col-md-6"><span class="font-weight-bold">Meta mes</span> <span
                                                class="float-right">{{vendedor.metaMes | formatoModeda}} </span> </div>
                                        <div class="col-md-6"><span class="font-weight-bold">Venta mes</span><span
                                                class="float-right">{{vendedor.ventaAcumulada | formatoModeda}} </span>
                                        </div>
                                        <div class="col-md-6"><span class="font-weight-bold">Meta acumulada</span><span
                                                class="float-right">{{vendedor.metaAcumulada | formatoModeda}} </span>
                                        </div>
                                        <div class="col-md-6"><span class="font-weight-bold">Venta acumulada</span><span
                                                class="float-right">{{vendedor.ventaAcumulada | formatoModeda}} </span>
                                        </div>
                                        <div class="col-md-6"><span class="font-weight-bold">Meta dia</span><span
                                                class="float-right">{{vendedor.mentaHoy | formatoModeda}} </span></div>
                                        <div class="col-md-6"><span class="font-weight-bold">Venta dia</span><span
                                                class="float-right">{{vendedor.ventaDia | formatoModeda}} </span></div>
                                        <div class="col-md-6"><span class="font-weight-bold">Venta CO</span><span
                                                class="float-right">0 </span></div>
                                        <div class="col-md-6"><span class="font-weight-bold">Venta CA</span><span
                                                class="float-right">0 </span></div>
                                    </div>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab title="Pedidos">
                                <ng-template ngbTabContent>
                                    <div class="row">
                                        <div class="col-md-6"><span class="font-weight-bold">Cobertura cartera
                                                Obj</span> <span class="float-right">0</span> </div>
                                        <div class="col-md-6"><span class="font-weight-bold">Cobertura
                                                cliente</span><span class="float-right">0 </span></div>
                                        <div class="col-md-6"><span class="font-weight-bold">Cobertura visita
                                                día</span><span class="float-right">0</span></div>
                                        <div class="col-md-6"><span class="font-weight-bold">Cobertura visita
                                                mes</span><span class="float-right">0 </span></div>

                                    </div>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab title="Visitas">
                                <ng-template ngbTabContent>
                                    <div class="row">
                                        <div class="col-md-6"><span class="font-weight-bold">Cot. creadas</span> <span
                                                class="float-right">0</span> </div>
                                        <div class="col-md-6"><span class="font-weight-bold">Pendiente
                                                facturar</span><span class="float-right">0 </span></div>
                                        <div class="col-md-6"><span class="font-weight-bold">Ticket promedio</span><span
                                                class="float-right">0 </span></div>
                                        <div class="col-md-6"><span class="font-weight-bold">Cantidad SKU</span><span
                                                class="float-right">0</span></div>
                                        <div class="col-md-6"><span class="font-weight-bold">Documentos</span><span
                                                class="float-right">0 </span></div>
                                        <div class="col-md-6"><span class="font-weight-bold">Documentos día </span><span
                                                class="float-right">0 </span></div>

                                    </div>
                                </ng-template>
                            </ngb-tab>

                        </ngb-tabset>
                    </div>
                </div>

            </div>


        </div>
    </div>

    <div class="col-md-12">
        <div class="card mb-3 ">
            <div class="card-body">
                <h4 class="mb-4">Historial mensual</h4>
                <div echarts="echarts" [options]="option" class="demo-chart"></div>

            </div>


        </div>
    </div>
    <div class="col-md-12">
        <div class="card mb-3 ">
            <div class="card-body">
                <h4 class="mb-4">Historial semanal</h4>
                <div echarts="echarts" [options]="option2" class="demo-chart"></div>

            </div>
        </div>
    </div>
</div>