/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/scss/bootstrap';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
body{
  background-color: #f4f5fb;
}
.page-wrapper.toggled .sidebar {
  left: -300px;
}

// angular perfect scrollbar style
.sidebar .ps.ps--scrolling-y>.ps__rail-y,
.sidebar>.ps.ps--scrolling-x>.ps__rail-x,
.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: transparent !important;
}

.sidebar .ps.ps--active-y>.ps__rail-y:hover,
.sidebar>.ps.ps--active-y>.ps__rail-y.ps--clicking {
  width: 10px !important;
}

.ps__thumb-y {
  background-color: #fff !important;
  width: 6px!important;
  border-radius: 0px!important;
  opacity: .5;

}
.bg-primary{
  background-color:#005db9 !important; 
  
}
.btn-primary  {
  background-color:#005db9 !important;
}

.table-primary > th, .table-primary > td, .table-primary th, .btn-primary {
  background-color:#005db9 !important;
  color: white;
}
.lst{
    fill: white !important;
 
}

.modal-dialog {
  max-width: 80% !important;


}
   
ngb-tabset ul.nav-tabs li a.nav-link.active {
  background-color: black;
  color: white;
}

ngb-tabset ul.nav-tabs li a.nav-link {
  border-top-color: #00000036;
  border-left-color: #00000036;
  border-right-color: #00000036;
  background-color: #eeeeee;
}

.ventas{
 
  background: url(./assets/svg/total.svg);
  background-repeat: no-repeat;
  background-position: right; 
 background-size: 16%;
  margin: 4% 4% 1% 0% ;
}

.llamadasC{
  background: url(./assets/svg/llamadaRealizada.svg);
  background-repeat: no-repeat;
  background-position: right; 
  background-size: 16%;
  margin: 4% 4% 1% 0% ;
}
.llamadasN{
  background: url(./assets/png/llamadaPerdida.png);
  background-repeat: no-repeat;
  background-position: right; 
  background-size: 16%;
  margin: 4% 4% 1% 0% ;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-11-20 12:28:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-hor-left
 * ----------------------------------------
 */
 .scale-up-hor-left {
	-webkit-animation: scale-up-hor-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-hor-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
 @-webkit-keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}
@keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}

agm-map {
  height: 700px;
}

.pointer {cursor: pointer;}

.btn-calendario{
  border: 1px solid #ced4da;
  border-left: none;
}




  /*------------------------------default theme---------------------------------*/
  $bg-sidebar-wrapper :#0063c2;
  $border-color : #2b2b2b;
  $footer-top-border-color :#ffffff;
  //$footer-top-border-color :#3a3a3a;
  $color:#ffffff;
  //$color:#bdbdbd;
  $header-menu-color :#ffffff;
  //$header-menu-color :#6c7b88;
  $hover-color:#6c7b88;
  //$hover-color:#ffffff;
  $shadow-color:#131212;
  $bg-scrollbar :#636363;
  
  // colors with backgound image
  $img-bg-sidebar-wrapper : rgba(0, 99, 194, 0.6);
  $img-border-color : rgba(255, 255, 255, 0.1);
  $img-bg-footer :rgba(43, 43, 43, 0.5);
  $img-shadow-color:rgba(0, 0, 0, 0.5);
  
  
  
  .sidebar {
  
    background-color: $bg-sidebar-wrapper;
  
    .sidebar-profile,
    .sidebar-search,
    .sidebar-menu {
      border-top: 1px solid $border-color;
    }
  
    .sidebar-search input.search-menu,
    .sidebar-search .input-group-text {
      border-color: $border-color;
      box-shadow: none;
    }
  
    .sidebar-profile .user-info .user-role,
    .sidebar-profile .user-info .user-status,
    .sidebar-search input.search-menu,
    .sidebar-search .input-group-text,
    .sidebar-header>a,
    .sidebar-menu ul li a,
    .sidebar-footer>div>a,
    #close-sidebar {
      color: $color;
    }
  
    .sidebar-menu ul li:hover>a,
    .sidebar-menu .sidebar-dropdown.active>a,
    .sidebar-profile .user-info,
    .sidebar-header>a:hover,
    .sidebar-footer>div>a:hover i,
    #close-sidebar:hover {
      color: $hover-color;
    }
  
    ul li:hover a i,
    .sidebar-dropdown .sidebar-submenu li a:hover:before,
    .sidebar-search input.search-menu:focus+span,
    .sidebar-menu .sidebar-dropdown.active a i {
      color: $hover-color;
    }
    input.search-menu::placeholder {
      color: white;
      
    }
    .sidebar-menu ul li a i,
    .sidebar-menu .sidebar-dropdown div,
    .sidebar-search input.search-menu,
    .sidebar-search .input-group-text {
      background-color: $border-color;
      border: none;
      margin-left: 1px;
    }
  
    .sidebar-menu .header-menu span {
      color: $header-menu-color;
    }
  
    .sidebar-footer {
      background-color: $border-color;
      box-shadow: 0px -1px 5px $shadow-color;
      border-top: 1px solid $footer-top-border-color;
    }
  
    .sidebar-footer>div:first-child {
      border-left: none;
    }
  
    .sidebar-footer>div:last-child {
      border-right: none;
    }
  
    // styles with background image
    &.sidebar-bg {
  
      background-image: url(./assets/img/bg1.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color:$img-bg-sidebar-wrapper;
      }
  
      .sidebar-profile,
      .sidebar-search,
      .sidebar-menu {
        border-top: 1px solid $img-border-color;
      }
  
      .sidebar-search input.search-menu,
      .sidebar-search .input-group-text {
        border-color: $img-border-color;
        box-shadow: none;
      }
  
      .sidebar-menu ul li a i,
      .sidebar-menu .sidebar-dropdown div,
      .sidebar-search input.search-menu,
      .sidebar-search .input-group-text {
        background-color: $img-border-color;
  
      }
  
      /* .sidebar-footer {
        background-color: $img-bg-footer;
        box-shadow: 0px -1px 5px $img-bg-footer;
        border-top: 1px solid $img-border-color;
      } */
  
    }
  
  }
  .demo-chart {
    height: 400px;
  }