<div class="card text-white bg-primary" style="max-width: 20rem;">
    <h5 style="font-size: larger;"class="card-header">{{titulo}}</h5>
    <div class="card-body text-center "
    [ngClass]="{
        'llamadasC': titulo=='Total LLamadas Contestadas',
        'llamadasN': titulo=='Total LLamadas No Contestadas'
      }"
    >
      <h1 class="card-title m-0 ">{{totalLlamadas}} llamadas</h1>                                     
    </div>
</div>