<nav id="sidebar" class="sidebar sidebar-bg">
  <div class="sidebar-content">
    <perfect-scrollbar>
      <div class="sidebar-header" (click)="toggleSidebar()">
        <a routerLink="/">Implenet</a>
      </div>

      <div class="sidebar-profile">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="assets/img/user.jpg" alt="User picture">
        </div>
        <div class="user-info">
          <span style="color: white !important;">
            <strong>{{usuario.nombre}}</strong>
          </span>
          <span class="user-role">{{usuario.nombreSucursal}}</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>En linea</span>
          </span>
        </div>
        <button class="btn text-white" (click)="logout();toggleSidebar()">
          <svg-icon applyCss="true" src="./assets/svg/enchufe.svg" class="lst pointer mr-4 "
            [svgStyle]="{ 'width.px':25 , 'height.px':25 }"></svg-icon>
            cerrar sesión
        </button>
      </div>
      <div class="sidebar-search">
        <div>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Buscar...">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar-menu">
        <ul>
          <li *ngFor="let menu of menus"
            [ngClass]="{'active': menu.active , 'sidebar-dropdown':menu.type === 'dropdown' , 'header-menu':menu.type === 'header'}">
            <span *ngIf="menu.type === 'header'">{{menu.title}}</span>
            <a *ngIf="menu.type !== 'header'" (click)='toggle(menu)' class="pointer">
              <svg-icon applyCss="true" [src]="menu.icon" class="lst mr-4"
                [svgStyle]="{ 'width.px':20 , 'height.px':20 }"></svg-icon>
              <span>{{menu.title}}</span>
              <svg-icon applyCss="true" [src]="menu.svg" class="lst float-right"
                [svgStyle]="{ 'width.px':10 , 'height.px':10 }"></svg-icon>
            </a>
            <div *ngIf="menu.type === 'dropdown'" class="sidebar-submenu" [@slide]="getState(menu)">
              <ul>
                <li *ngFor="let submenu of menu.submenus">

                  <a [routerLink]="submenu.ruta" (click)="toggleSidebar()">{{submenu.title}}</a>
                </li>

              </ul>
            </div>
          </li>
        </ul>
      </div>
    </perfect-scrollbar>
  </div>
  <!--  <button class="m-2  btn pointer" (click)="onClick()">
      cerrar sesion
      <svg-icon applyCss="true" src="./assets/svg/enchufe.svg" class="lst " [svgStyle]="{ 'width.px':35 , 'height.px':40 }"></svg-icon> 
    </button>
    <div class="sidebar-footer">
     
    </div> -->
</nav>